In [1]:
import pandas as pd

In [2]:
from matplotlib import pyplot as plt

In [3]:
from scratch.linear_algebra import dot

In [4]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [ ]:
#whitespace inside brackets and parenthesis are ignored

In [5]:
long_winded_computation = (1 +2 +3 + 4 +5 
                          + 7 + 8 + 9 + 10)

In [6]:
long_winded_computation

49

In [8]:
easier_to_read_list = [ [ 1, 2, 3],
                        [ 4, 5, 6],
                        [ 7, 8, 9] ]

In [9]:
easier_to_read_list

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [10]:
two_plus_three = 2 + \
                    3

In [11]:
two_plus_three

5

In [12]:
%paste

UsageError: Line magic function `%paste` not found.

In [13]:
5/2

2.5

In [14]:
def double(x):
    return x *2

In [16]:
double(15)

30

In [17]:
def apply_to_one(f):
    return f(1)

my_double = double
x = apply_to_one(my_double)

In [19]:
my_double = double
x = apply_to_one(my_double)

In [20]:
y = apply_to_one(lambda x: x + 4)

In [21]:
(lambda x: x + 1)(2)

3

In [22]:
(lambda x: x + 1)(17)

18

In [23]:
add_one = lambda x: x + 1

In [24]:
add_one(36)

37

In [25]:
def add_one(x):
    return x + 1

In [26]:
add_one(14)

15

In [ ]:
#https://realpython.com/python-lambda/

In [27]:
y = apply_to_one(lambda x: x + 4)

In [28]:
y

5

In [ ]:
#confused -- this means x is one, where did that come from

In [ ]:
another_double = lambda x: 2 * x # don't do this
def another_double(x): return 2 * x # do this instead

In [35]:
def my_print(message="my default message"):
    print(message)

In [37]:
my_print() #function now has a default value

my default message

In [38]:
my_print("hello")

hello

In [39]:
def subtract(a=0, b=0):
    return a - b

In [40]:
subtract(10, 5)

5

In [41]:
subtract(0, 5)

-5

In [42]:
subtract(b=5) #because A defaulted to 0

-5

In [43]:
tab_string = "\t"

In [44]:
len(tab_string)

1

If you want backslashes as backslashes (which you might in Windows directory names or in regular expressions), you can create raw strings using r"":

In [45]:
not_tab_string = r"\t"

In [46]:
len(not_tab_string)

2

In [47]:
multi_line_string = """"This is the first line.
and this is the second line
and this is the third line"""

In [48]:
multi_line_string

'"This is the first line.\nand this is the second line\nand this is the third line'

In [51]:
try:
    print(0 / 0)
except ZeroDivisionError:
    print("cannot divide by zero")

cannot divide by zero

In [52]:
x = range(10)

In [53]:
x[0]

0

In [54]:
x[-1]

9

In [55]:
x[:3]

range(0, 3)

In [56]:
x[3:]

range(3, 10)

In [57]:
x[1:5]

range(1, 5)

In [58]:
1 in [1, 2, 3]

True

In [59]:
0 in [1, 2, 3]

False

In [60]:
x = [1, 2, 3]

In [61]:
x.extend([4, 5, 6])

In [62]:
x

[1, 2, 3, 4, 5, 6]

In [63]:
y = x + [7, 8, 9]

In [64]:
y

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [65]:
x.append(0)

In [66]:
x

[1, 2, 3, 4, 5, 6, 0]

In [67]:
my_list = [1, 2]

In [68]:
my_tuple = (1, 2)

In [69]:
other_tuple = 3, 4 #can be either parenthesis or nothing

In [70]:
my_list[1]

2

In [71]:
my_list[1] = 3

In [72]:
my_list

[1, 3]

In [73]:
try:
    my_tuple[1] = 3
except TypeError:
    print("Cannot modify a tuple")

Cannot modify a tuple

In [74]:
x, y = 1, 2

In [75]:
x, y

(1, 2)

In [76]:
x, y = y, x #swap variables

In [77]:
x, y

(2, 1)

In [78]:
empty_dict = {}

In [79]:
grades = {"Joel" : 80, "Tim" : 95}

In [80]:
joels_grade = grades["Joel"]

In [81]:
joels_grade

80

In [83]:
try:
    kates_grade = grades["Kate"]
except KeyError:
    print("No grade for Kate")

No grade for Kate

In [84]:
"Kate" in grades

False

In [86]:
grades.get("Joel", 0)

80

In [87]:
grades.get("Kate", 0)

0

In [90]:
no_one_grade = grades.get("No One")

In [92]:
print(no_one_grade)

None

In [93]:
grades["Tim"] = 99 #replaces the old value

In [94]:
grades

{'Joel': 80, 'Tim': 99}

In [95]:
grades["Kate"] = 100

In [96]:
grades

{'Joel': 80, 'Tim': 99, 'Kate': 100}

In [97]:
tweet = { "user" : "joelgrus", 
         "text" : "Data Science is Awesome", 
         "retweet_count" : 100, 
         "hashtags" : ["#data", "#science", "#datascience", "#awesome", "#yolo"] }

In [98]:
tweet

{'user': 'joelgrus',
 'text': 'Data Science is Awesome',
 'retweet_count': 100,
 'hashtags': ['#data', '#science', '#datascience', '#awesome', '#yolo']}

In [104]:
tweet_keys = tweet.keys()

In [105]:
tweet_keys

dict_keys(['user', 'text', 'retweet_count', 'hashtags'])

In [106]:
tweet_values = tweet.values()

In [107]:
tweet_values

dict_values(['joelgrus', 'Data Science is Awesome', 100, ['#data', '#science', '#datascience', '#awesome', '#yolo']])

In [108]:
tweet_items = tweet.items()

In [109]:
tweet_items

dict_items([('user', 'joelgrus'), ('text', 'Data Science is Awesome'), ('retweet_count', 100), ('hashtags', ['#data', '#science', '#datascience', '#awesome', '#yolo'])])

In [110]:
"joelgrus" in tweet_values

True

In [111]:
"joelgrus" in tweet.values()

True

In [112]:
from collections import defaultdict

In [ ]:
word_counts = defaultdict(int)
for word in document:
    word_counts[word] += 1

+= adds a number to a variable, changing the variable itself in the process (whereas + would not). Similar to this, there are the following that also modifies the variable:

In [113]:
dd_list = defaultdict(list)

In [114]:
dd_list

defaultdict(list, {})

In [115]:
dd_list[2].append(1)

In [116]:
dd_list

defaultdict(list, {2: [1]})

In [117]:
name = "IndianPythonista"

In [119]:
d = {}

for c in name:
    if c not in d:
        d[c] = 1
    else:
        d[c] += 1

In [120]:
d

{'I': 1,
 'n': 3,
 'd': 1,
 'i': 2,
 'a': 2,
 'P': 1,
 'y': 1,
 't': 2,
 'h': 1,
 'o': 1,
 's': 1}

In [121]:
d = defaultdict(int)

In [122]:
for c in name:
    d[c] += 1

In [123]:
d

defaultdict(int,
            {'I': 1,
             'n': 3,
             'd': 1,
             'i': 2,
             'a': 2,
             'P': 1,
             'y': 1,
             't': 2,
             'h': 1,
             'o': 1,
             's': 1})

In [124]:
d = defaultdict(lambda: 2)

In [125]:
for c in name:
    d[c] += 1

In [126]:
d

defaultdict(<function __main__.<lambda>()>,
            {'I': 3,
             'n': 5,
             'd': 3,
             'i': 4,
             'a': 4,
             'P': 3,
             'y': 3,
             't': 4,
             'h': 3,
             'o': 3,
             's': 3})

In [ ]:
#lambda function sets the default value to 2

In [127]:
d['z']

2

In [ ]:
#look up z in the dictionary and it has 2 because that's the default

In [ ]:
#you can even put a dictionary in your dictionary

In [128]:
from collections import Counter
c = Counter([0, 1, 2, 0])
#the number of each number, and then C tells you the count

In [129]:
c

Counter({0: 2, 1: 1, 2: 1})

In [132]:
c = Counter(["the", "at", "the", "beach"])

In [133]:
c

Counter({'the': 2, 'at': 1, 'beach': 1})

In [136]:
for word, count in c.most_common(1):
    print(word, count)

the 2

In [137]:
item_list = [1, 2, 3, 1, 2, 4]
num_items = len(item_list)

In [138]:
num_items

6

In [139]:
set(item_list)

{1, 2, 3, 4}

In [142]:
len(set(item_list))

4

In [143]:
item_set = set(item_list)

In [144]:
distinct_item_list = list(item_set)

In [145]:
distinct_item_list

[1, 2, 3, 4]